.content-wrapper h1 {
    
    margin-bottom: 30px;
    font-size: 28px;
    color: #ffff;
    background: linear-gradient(90deg, #4f46e5, #06b6d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
}

.course-card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-header {
    background: linear-gradient(135deg, #667eea, #764ba2);
    padding: 20px;
    color: white;
}

.course-code {
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 5px;
}

.course-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.course-credits {
    font-size: 12px;
    opacity: 0.8;
}

.course-body {
    padding: 20px;
}

.teacher-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
}

.teacher-info i {
    width: 30px;
    height: 30px;
    background: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #667eea;
}

.teacher-details .name {
    font-weight: 600;
    color: #333;
}

.teacher-details .email {
    font-size: 12px;
    color: #999;
}

.stat-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.stat-label {
    color: #1b1b1b;
    font-size: 17px;
}

.stat-value {
    color: #333;
    font-weight: 500;
    font-size: 15px;
}

.progress-section {
    margin-top: 15px;
}

.progress-label {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
    color: #666;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: linear-gradient(90deg, #667eea, #764ba2);
    border-radius: 10px;
    transition: width 0.5s ease;
}


.course-footer {
    padding: 15px 20px;
    background: #f8f9fa;
    display: flex;
    justify-content: flex-end;
}

.course-btn {
    background: none;
    border: none;
    color: #667eea;
    cursor: pointer;
    font-weight: 600;
}

body.dark .course-card{
    background: #333;
}

body.dark .name
{
    color: #ffffff;
}
body.dark .email{
    color: #ffffff;
}

body.dark .stat-label
{
    color: #ffffff;
}

body.dark .stat-value
{
    color: #ffffff;
}

body.dark .progress-label{
    color: #ffffff;
}

@media (max-width: 768px) {
    .courses-grid {
        grid-template-columns: 1fr;
    }
}